@import 'parts/base';
@import 'parts/variables';
@import 'parts/typography';
@import 'parts/mixing';

/* Header*/

header {
  background-color: $text-color;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    img {
      max-width: 80%;
    }
    nav {
      ul {
        display: flex;
        gap: 2rem;
        align-items: center;
        li {
          list-style: none;
          a {
            color: $white;
            transition: $transition;
            &:hover {
              color: $primary;
            }
          }
        }
        li:last-of-type {
          border: 2px solid $white;
          padding: 0.6rem 1rem;
          text-transform: uppercase;
          transition: $transition;
          &:hover {
            border-color: $primary;
          }
        }
      }
    }
  }
}
/* hero section*/
.hero-section {
  height: 80vh;
  background-image: url(images/bg_header.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: $white;
    font-weight: 300;
    text-transform: uppercase;
  }
  .hero {
    text-align: center;
    p {
      color: $white;
      padding: 2rem 0;
    }
    a {
      display: inline-block;
      border: 2px solid $white;
      border-radius: 3px;
      padding: 1rem 7rem;
      text-transform: uppercase;
      color: $white;
      opacity: 0.7;
      font-weight: 500;
      transition: $transition;
      &:hover {
        background-color: $primary;
        border-color: transparent transparent;
      }
    }
  }
}
/***********
 about section
 ***********/
.about-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .about {
    flex-basis: 60%;
    text-align: center;
    h2 {
      margin-bottom: 1rem;
      font-weight: 500;
    }
  }
}

/***********
 Reasons section
 ***********/
.reason-section {
  background-color: $bcGray;
  padding: 8rem 0;
  h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 400;
    color: $text-color;
    opacity: 0.7;
  }
  .container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    .items {
      flex-basis: 24%;
      i {
        font-size: 4rem;
        margin: 4rem 0;
      }
    }
  }
}
/* questions*/
.questions {
  padding: 8rem 0;
  h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .items {
      flex: 0 0 48%;
      margin-bottom: 2rem;
      h4 {
        font-weight: 500;
        margin-bottom: 1rem;
        opacity: 0.8;
      }
      p {
        line-height: 2.5rem;
      }
    }
    .items-descrition {
      flex: 0 0 100%;
      padding: 3rem 3rem;
      background-color: $bcGray;
      p {
        opacity: 1;
        margin-bottom: 2rem;
      }
      .item-link {
        text-align: right;
        a {
          text-align: right;
          display: inline-block;
          padding: 0.6rem 3rem;
          background-color: $primary;
          border-radius: 5px;
          color: $white;
          transition: $transition;
          &::after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: '\f101';
            position: relative;
            top: 0.1rem;
            margin-left: 0.5rem;
          }
          &:hover {
            background-color: $white;
            color: $text-color;
            box-shadow: 13px 7px 15px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 13px 7px 15px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 13px 7px 15px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }
}
/* Footer*/
footer {
  padding: 2rem 0;
  background-color: $text-color;
  .container {
    display: flex;
    justify-content: space-between;
    .footer-items:first-child,
    .footer-items:nth-child(2) {
      flex: 0 0 20%;
    }
    .footer-items:last-of-type {
      flex: 0 0 50%;
      p {
        color: $white;
        margin-bottom: 1rem;
      }
    }
    .footer-items {
      h5 {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        color: $white;
        opacity: 0.7;
      }
      ul {
        list-style: none;
        li {
          margin-bottom: 1rem;
          a {
            color: $white;
            opacity: 0.7;
          }
        }
      }
    }
    .social {
      overflow: hidden;
      display: inline-block;
      i {
        transition: $transition;
        color: $white;
        opacity: 0.7;
        font-size: 2rem;
        margin-right: 1rem;
      }
      .footer-items:last-of-type {
        p {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
